.box:hover{
      /*pseudo class*/
        transform: translateY(-10px);
        box-shadow:0 0 20px 0 rgba(211, 104, 104, 0.1);
        transition:all ease-in-out 0.4s;
        
        
    }
    .box{
      height: 400px;
      width: 450px;
      margin-left: 150px;
      margin-top: 150px;
      background-color: aquamarine;
      border-radius: 44px;
      
    }
    p{
      margin-left: 44px;
    }
